<?xml version="1.0" encoding="utf-8"?>
<routes>
  <route route_type="admin" route_prefix="brms-statistics" format=":int&lt;modern_statistic_id,title&gt;/" controller="BR\ModernStatistic:ModernStatistic" context="brmsStatistics"/>
  <route route_type="public" route_prefix="brms-statistics" controller="BR\ModernStatistic:ModernStatistic"/>
</routes>
